<app-menu-sidenav></app-menu-sidenav>

<div class="container">



  <div class="col-sm-12 col-sm-12" style="height: 24px;"></div>

  <div class="row vignette">
    <div class="container">

      <div class="col-sm-12">
        <div class="col-sm-4 col-md-3 image">
          <img [src]="'assets/images/technos/symfony.jpg'" width="300" height="169">
        </div>
        <div class="col-sm-8 col-md-9">
          <div class="col-sm-12 col-sm-12" style="height: 4px;"></div>

          <span class="titre">
            <h1>Bonne pratique : Utilisation d'une librairie PHP dans Symfony2</h1>
          </span><br><span class="bonus">+ <b>Compiler Passes</b></span>
          <br>
          <div class="texte-menu">Nous allons voir plusieurs manières d'utiliser une librairie PHP externe dans
            Symfony2
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="col-sm-12 col-sm-12" style="height: 48px;"></div>

  <div class="col-sm-12 col-sm-12">
      Comment intégrer une librairie PHP externe dans Symfony2 sans pour autant en faire un bundle.
      Par exemple, vous avez récupéré ou développé une librairie qui fait une tâche bien précise et qui demande peu de configuration, très simple d'utilisation ça ne vaut pas le coup d'en faire un bundle.<br>
      Et donc voici comment l'intégrer dans Symfony2 de la façon la plus simple à la <b>bonne pratique</b>. <br>
  </div>


  <div class="col-sm-12 col-sm-12" style="height: 32px;"></div>

  <div class="col-sm-12 col-sm-12">
      <h2>Le Projet</h2>
  </div>


  <div class="col-sm-12 col-sm-12" style="height: 8px;"></div>

  <div class="col-sm-12 col-sm-12">
      Nous allons utiliser la librairie <b>Geocoder</b> comme exemple pour ce tutoriel. Cette librairie demande une adresse IP et il renvoit une adresse postale.<br>
      <i>( Il existe un bundle sur geocoder mais pour notre exemple, nous allons bien sur l'ignorer )</i>
  </div>


  <div class="col-sm-12 col-sm-12" style="height: 32px;"></div>

  <div class="col-sm-12 col-sm-12">
      <h2>INSTALLATION</h2>
  </div>


  <div class="col-sm-12 col-sm-12" style="height: 8px;"></div>

  <div class="col-sm-12 col-sm-12">
      <b>Geocoder</b> : Determiner la localisation à partir d'une adresse IP. <br>
      Le site officiel : <a href="http://geocoder-php.org/" target="_blank">http://geocoder-php.org/</a>  <br>
      <br>
      Télecharger cette version : geocoder v2.8.1        <br>
      <a href="https://github.com/geocoder-php/Geocoder/releases/tag/2.8.1" target="_blank">https://github.com/geocoder-php/Geocoder/releases/tag/2.8.1</a>
  </div>


  <div class="col-sm-12 col-sm-12" style="height: 8px;"></div>

  <div class="col-sm-12 col-sm-12">
      La création du projet Symfony2 :    <br>
      <pre><code>
        symfony new geo_project 2.8
      </code></pre>

      copier le dossier Geocoder-2.8.1 dans le projet symfony à cette emplacement : <b>.../src/lib</b>    <br>
      pour obtenir :  <b>geo_project/src/lib/Geocoder-2.8.1</b>   <br>
      <br>
      <br>
      Rendre disponible la librairie geocoder dans le projet Symfony :
      <br>
      <b>composer.json</b>
      <pre><code>
        "autoload": <span ngNonBindable>&#123;</span>
            ...
            ,
            "psr-0": <span ngNonBindable>&#123;</span>
                "": "src/lib/Geocoder-2.8.1/src/"
            <span ngNonBindable>&#125;</span>
            ,
            ...
      </code></pre>
      <br>
      recalculer l'autoload :  (la nouvelle librairie sera inclus dans le loader. Nous n'aurons pas besoin donc de faire d'import...)
      <pre><code>
        composer dump-autoload
      </code></pre>
  </div>



  <div class="col-sm-12 col-sm-12" style="height: 32px;"></div>

  <div class="col-sm-12 col-sm-12">
      <h2>UTILISATION</h2>
  </div>


  <div class="col-sm-12 col-sm-12" style="height: 6px;"></div>

  <div class="col-sm-12 col-sm-12">
      Voyons 3 manières de faire :    <br>
      <span class="titre12">1. <b>Limité</b> : Utilisation de la librairie dans une action d'un controller (sans service...)</span>   <br>
      <span class="titre12">2. <b>Mieux</b> : Rendre les classes de la librairie en service et les appeller dans une action d'un controller</span>    <br>
      <span class="titre12">3. <b>Bonne pratique</b> : Utiliser un service dédié à la gestion de la librairie et appel de celui ci dans une action d'un controller</span> <br>
      <br><br>
      <span class="titre11">1. <b>Limité</b> : Utilisation de la librairie dans une action d'un controller (sans service...) :</span>    <br>
      <br>
      <b>DefaultController.php</b>
      <pre><code>
          /**
           * @Route("/geocoder", name="geocoder")
           */
          public function geoCoderAction(Request $request) <span ngNonBindable>&#123;</span>
              $adapter  = new \Geocoder\HttpAdapter\CurlHttpAdapter();
              $provider = new \Geocoder\Provider\FreeGeoIpProvider($adapter);
              $geocoder = new \Geocoder\Geocoder($provider);

              $result   = $geocoder->geocode('64.15.116.91');     // IP de google.fr

              dump($result); exit;
          <span ngNonBindable>&#125;</span>
      </code></pre>

      <pre><code>
          http://geo-project.dev/app_dev.php/geocoder
      </code></pre>

      <b>Résultat</b> :
      <pre><code>
        DefaultController.php on line 23:
            Geocoded <span ngNonBindable>&#123;</span>
          #latitude: 37.4192
          #longitude: -122.0574
            ...
          #city: "Mountain View"
          #zipcode: "94043"
            ...
      </code></pre>
  </div>




  <div class="col-sm-12 col-sm-12" style="height: 32px;"></div>

  <div class="col-sm-12 col-sm-12">
      <span class="titre11">2. <b>Mieux</b> : Rendre les classes de la librairie en service et les appeller dans une action d'un controller :</span>    <br>


      <pre><code>
      $adapter  = new \Geocoder\HttpAdapter\CurlHttpAdapter();
      $provider = new \Geocoder\Provider\FreeGeoIpProvider($adapter);
      $geocoder = new \Geocoder\Geocoder($provider);
      </code></pre>
      Vu dans le 1., Nous allons simplement remplacer le code ci dessus en service :  <br>
      <br>
      <b>config.yml</b>
      <pre><code class="yml">
        services:
            geocoder_adapter:
                class: Geocoder\HttpAdapter\CurlHttpAdapter
                public: false
            geocoder_provider:
                class: Geocoder\Provider\FreeGeoIpProvider
                public: false
                arguments: [@geocoder_adapter]
            geocoder:
                class: Geocoder\Geocoder
                calls:
                    - [registerProviders, [[@geocoder_provider]]]
      </code></pre>
      <br>
      Dans une action d'un controller, un simple appel au service geocoder (qui lui même fait appel geocoder_provider et ce dernier à geocoder_adapter) :
      <br>
      <b>DefaultController.php</b>
      <pre><code>
        ...
        public function geoCoderAction(Request $request) <span ngNonBindable>&#123;</span>
            $result = $this->get('geocoder')->geocode('64.15.116.91');

            dump($result); exit;
        <span ngNonBindable>&#125;</span>
      </code></pre>

      <b>Résultat</b> :
      <pre><code>
        DefaultController.php on line 23:
            Geocoded <span ngNonBindable>&#123;</span>
          #latitude: 37.4192
          #longitude: -122.0574
            ...
          #city: "Mountain View"
          #zipcode: "94043"
            ...
      </code></pre>
  </div>




  <div class="col-sm-12 col-sm-12" style="height: 32px;"></div>

  <div class="col-sm-12 col-sm-12">
      <span class="titre11">3. <b>Bonne pratique</b> : Utiliser un service dédié à la gestion de la librairie et appel de celui ci dans une action d'un controller :</span>    <br>
      <br>
      <b>Remarque</b> :   <br>
      Nous avons vu que pour géocaliser une IP nous devons choisir un <b>adapter</b> et un <b>provider</b>.       <br>
      Liste des <b>adapter</b>  : BuzzHttpAdapter CurlHttpAdapter GeoIP2Adapter GuzzleHttpAdapter ...             <br>
      Liste des <b>provider</b> : ArcGISOnlineProvider BaiduProvider BingMapsProvider ...                         <br>
      <br>
      Notre projet va utiliser <b>curl</b> comme moyen technique et nous allons interroger plusieurs <b>providers</b> afin de s'assurer d'avoir au moins une réponse parmi les providers.<br>
      <br>
      Et donc le but est de créer une classe qui va geocaliser l'ip en parcourant 1 ou plusieurs <b>provider(s)</b> via un <b>adapter</b><i>(contrairement au point <b>1.</b> et <b>2.</b> ou les 2 élements sont figés)</i>.   <br>
      On injectera dans cette classe un <b>adapter</b> et plusieurs <b>providers</b> via les services Symfony.<br>
      <br>

      <b>services.yml</b>
      <pre><code>
        services:
            geocoder:
                class: Geocoder\Geocoder
                public: false

            curl_http_adapter:
                class: Geocoder\HttpAdapter\CurlHttpAdapter
                public: false

            free_geo_ip_provider:
                class: Geocoder\Provider\FreeGeoIpProvider
                public: false
                arguments: [@curl_http_adapter]
                tags:
                    - <span ngNonBindable>&#123;</span> name: app.list.provider <span ngNonBindable>&#125;</span>

            geo_plugin_provider:
                class: Geocoder\Provider\GeoPluginProvider
                public: false
                arguments: [@curl_http_adapter]
                tags:
                    - <span ngNonBindable>&#123;</span> name: app.list.provider <span ngNonBindable>&#125;</span>

            user_geocoder:
                class: AppBundle\services\Geocoder\UserGeocoder
                scope: request
                arguments: [@request, @geocoder]
                calls:
                    - [addGeocoder, [@free_geo_ip_provider]]
                    - [addGeocoder, [@geo_plugin_provider]]
      </code></pre>
      remarque : <i>Vous ajoutez ou supprimez ci dessus vos providers (sans modifier de classe...) </i>: <br>

      <pre><code>
        xxxxxx_provider:
            ...

        user_geocoder:
            ...
            calls:
                ...
                - [addGeocoder, [@xxxxx_provider]]
      </code></pre>
      <br>
      remarque : <br>
      tags:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- <span ngNonBindable>&#123;</span> name: app.list.provider <span ngNonBindable>&#125;</span><br>
      <br>
      <i>Pour l'instant les <b>tags</b> des services "provider" ne sont pas utilisés, ils serviront plus loin pour le <b>compiler Passes</b>.</i><br>
      <br>
      <br>
      <b>...\AppBundle\services\UserGeocoder.php</b>
      <pre><code>
        ...
        namespace AppBundle\services\Geocoder;

        use Geocoder\Geocoder;
        use Geocoder\GeocoderInterface;
        use Geocoder\Provider\ProviderInterface;
        use Symfony\Component\HttpFoundation\Request;


        class UserGeocoder <span ngNonBindable>&#123;</span>
            protected $geocoder;
            protected $providers = [];
            protected $user_ip;

            public function __construct(Request $request, GeocoderInterface $geocoder)   <span ngNonBindable>&#123;</span>
                $this->geocoder = $geocoder;

                $this->user_ip = $request->getClientIp();
                if ($this->user_ip == '127.0.0.1') <span ngNonBindable>&#123;</span>
                    $this->user_ip = '64.15.116.91';    // google.fr
                <span ngNonBindable>&#125;</span>
            <span ngNonBindable>&#125;</span>

            public function addGeocoder(ProviderInterface $provider) <span ngNonBindable>&#123;</span>
                $this->providers[] = $provider;
            <span ngNonBindable>&#125;</span>

            public function getGeocoder() <span ngNonBindable>&#123;</span>
                $res = null;
                // parcourir les <b>providers</b> jusqu'à obtenir une réponse positive.
                foreach ($this->providers as $provider) <span ngNonBindable>&#123;</span>
                    $this->geocoder->registerProvider($provider);
                    $res = $this->geocoder->geocode($this->user_ip);
                    if ($res->getCounty()!=null)
                        break;
                <span ngNonBindable>&#125;</span>

                return $res;
            <span ngNonBindable>&#125;</span>
        <span ngNonBindable>&#125;</span>
      </code></pre>

      <b>DefaultController.php</b>
      <pre><code>
        ...
        public function geoCoderAction(Request $request) <span ngNonBindable>&#123;</span>
            dump( $this->get('user_geocoder')->getGeocoder() );
            exit;
        <span ngNonBindable>&#125;</span>
      </code></pre>

      <b>Résultat</b> :
      <pre><code>
        DefaultController.php on line 23:
            Geocoded <span ngNonBindable>&#123;</span>
          #latitude: 37.4192
          #longitude: -122.0574
            ...
          #city: "Mountain View"
          #zipcode: "94043"
            ...
      </code></pre>
  </div>



  <div class="col-sm-12 col-sm-12" style="height: 64px;"></div>

  <div class="col-sm-12 col-sm-12">
      <span class="titre11"><h1>Bonus</h1> : Compiler Passes :</span>    <br>

      <div class="col-sm-12 col-sm-12" style="height: 16px;"></div>

      Les passes de compilation vous donnent l’opportunité de manipuler d’autres définitions de service qui ont été
      définies via le conteneur de service.   <br>
      <br>

      <b>services.yml</b>
      <pre><code>
            ...
        user_geocoder:
            class: AppBundle\services\Geocoder\UserGeocoder
            scope: request
            arguments: [@request, @geocoder]
            calls:
                - [addGeocoder, [@free_geo_ip_provider]]
                - [addGeocoder, [@geo_plugin_provider]]
      </code></pre>

      Le service <b>user_geocoder</b> fait 2 fois appel à <b>addGeocoder</b>. Pour un traitement plus complexe, il est possible d'utiliser un <b>Compiler Passes</b>. Ce que nous allons faire. <br>
      <br>
      D'abord, nous enlevons ces 2 tâches dans le service : <br>
      <b>services.yml</b>
      <pre><code>
        ...
        user_geocoder:
            class: AppBundle\services\Geocoder\UserGeocoder
            scope: request
            arguments: [@request, @geocoder]
      </code></pre>
      <br>
      <br>
      Nous allons créer le compiler passes pour effectuer ces 2 tâches :  <br>
      <b>AppBundle\DependencyInjection\Compiler\UserGeocoderPass.php</b>
      <pre><code>
        namespace AppBundle\DependencyInjection\Compiler;

        use Symfony\Component\DependencyInjection\ContainerBuilder;
        use Symfony\Component\DependencyInjection\Compiler\CompilerPassInterface;
        use Symfony\Component\DependencyInjection\Reference;

        class UserGeocoderPass implements CompilerPassInterface <span ngNonBindable>&#123;</span>
            public function process(ContainerBuilder $container)     <span ngNonBindable>&#123;</span>
                if (!$container->hasDefinition('user_geocoder'))         <span ngNonBindable>&#123;</span>
                    return;
                <span ngNonBindable>&#125;</span>
                $service_definition = $container->getDefinition('user_geocoder');
                $tagged = $container->findTaggedServiceIds('app.list.provider');    //  tags -> 'app.list.provider' -> services.yml

                foreach ($tagged as $id => $attrs) <span ngNonBindable>&#123;</span>
                    $service_definition->addMethodCall(
                        'addGeocoder',
                        [new Reference($id)]
                    );
                <span ngNonBindable>&#125;</span>
            <span ngNonBindable>&#125;</span>
        <span ngNonBindable>&#125;</span>
      </code></pre>
      <br><br>
      Indiquer au bundle AppBundle d'executer le Compiler Passes :    <br>

      <b>\AppBundle\AppBundle.php</b>
      <pre><code>
        namespace AppBundle;

        use Symfony\Component\HttpKernel\Bundle\Bundle;

        use Symfony\Component\DependencyInjection\ContainerBuilder;
        use AppBundle\DependencyInjection\Compiler\UserGeocoderPass;

        class AppBundle extends Bundle
        <span ngNonBindable>&#123;</span>
            public function build(ContainerBuilder $container)    <span ngNonBindable>&#123;</span>
                parent::build( new ContainerBuilder());
                $container->addCompilerPass(new UserGeocoderPass());
            <span ngNonBindable>&#125;</span>
        <span ngNonBindable>&#125;</span>
      </code></pre>

      <br><br>
      Remarque : <br>
      <i>
          Ce que nous faisons avec le <b>compiler passes</b> c'est la definition du code à éxecuter. En effet, c'est au moment ou nous sollicitons les services que la definition du <b>compiler passes</b> est executé.
      </i>
  </div>



  <div class="col-sm-12 col-sm-12" style="height: 64px;"></div>
</div>
