<app-menu-sidenav></app-menu-sidenav>

<mat-grid-list cols="1" rowHeight="1:1">



    <div class="content">
      <div style="height: 24px;"></div>


      <p class="txt-1">Site web développé en Angular 11</p>

      <div style="height: 16px;"></div>

      <p class="txt-2">Technologies</p>

      <div class="txt-3">
        <p><b>SSR</b>: référencement SEO pour les moteurs de recherches</p>
        <p><b>Lazy Loading</b>: chargement optimisé des pages pour un accès rapide</p>
      </div>


      <div style="height: 16px;"></div>

      <p class="txt-2">Principes</p>

      <div class="txt-3">
        <p>Uniquement <b>la page demandée</b> est chargée pour être affichée rapidement</p>
        <p>Ensuite les <b>autres pages</b> et <b>ressources</b> sont chargées en parallèle</p>
      </div>

      <div style="height: 16px;"></div>

      <p class="txt-2">Résultats</p>

      <div class="txt-3">
        <ul>
          <li>tester le <b>lazy loading</b>:
            <ul>
              <li>tester la <b>rapidité</b> d'affichage en changeant de page</li>
              <li>mais aussi accédez à une page, coupez internet et changez de pages</li>
            </ul>
          </li>
          <li><b>référencement</b> SEO: consulter le code source des pages (<i>bouton droit - affichage du code source</i>)</li>
        </ul>
      </div>

      <div style="height: 32px;"></div>
    </div>




</mat-grid-list>



<div id="container-fsb">
  <div class="element">
      <img [defaultImage]="'assets/images/home/technos_default.png'" [lazyLoad]="'assets/images/home/technos.jpg'" alt="Angular 10" class="b3-responsive" />
  </div>
</div>

<div style="height: 24px;"></div>




<!--

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]="1" [rowspan]="4" [style.background]="'blue'">1</mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="4" [style.background]="'yellow'">2</mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="4" [style.background]="'blue'">3</mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'yellow'">1</mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'yellow'">2</mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'yellow'">3</mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'yellow'">4</mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>

-->
