.content {

  line-height: calc(12px + 3vw);
  padding: 0 10%;
  text-align: justify;
}

.txt-1 {
  font-size: calc(12px + 3vw);
  font-weight: bold;
  color: #196DDC;

}

.txt-2 {
  font-size: calc(12px + 2vw);
  font-weight: bold;
  color: #196DDC;
}

.txt-3 {
  font-size: calc(12px + 1vw);
  color: #142C54;
}


#container-fsb {
  display: flex;
  justify-content: space-between;
}

.b3-responsive {
  width: 100%;
  max-width: 5472px;
}
