<app-menu-sidenav></app-menu-sidenav>

<div *ngIf="show"
  fxLayout="row wrap"
  fxLayoutAlign="space-around"
  >
    <ng-container *ngFor="let card of menuData;">
      <app-card-menu-ref fxFlex.gt-xs="21" [card]="card" (click)="onClick(card)"></app-card-menu-ref>
    </ng-container>
</div>







