<app-menu-sidenav></app-menu-sidenav>

<div style="height: 48px;"></div>

<div fxLayout="row wrap" fxLayoutAlign="space-around">

    <mat-card class="mes-sites-card" (click)="onClick('quiz')">
      <mat-card-header>
        <img mat-card-avatar [defaultImage]="'assets/images/profil/dukoid.jpg'" [lazyLoad]="'assets/images/profil/dukoid.jpg'" alt="it's me !" />
        <mat-card-title>InerCode</mat-card-title>
        <mat-card-subtitle>Dév. web</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <img [defaultImage]="'assets/images/mes-sites/ecran_quiz_default.jpg'" [lazyLoad]="'assets/images/mes-sites/ecran_quiz.jpg'" alt="my app game" />

        <div style="height: 24px;"></div>

        <p>
          <b>Quiz Party Pro</b>
        </p>

        <p>
          jouez en famille, entre amis à un quiz en ligne
        </p>

      </mat-card-content>

      <mat-card-actions>

      </mat-card-actions>
    </mat-card>

</div>


