<div class="content-card">
  <mat-card class="product-card">
    <mat-card-header>

    </mat-card-header>

    <mat-card-content>
      <div class="container-image">
        <img  [src]="product?.image" alt="product?.title" width="128" height="128"/>
      </div>

      <p>
        <b>{{product?.title}}</b>
      </p>

      <p>
        {{product?.description | slice:0:64}}...
      </p>
    </mat-card-content>

    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
</div>
