// -------------------------------------  CARD ---------------------

.content-card {

}

.product-card {
  width: 200px;
  height: 256px;
  text-align: center;
}

.container-image {
  width: 128px;
  height: 128px;
  margin: 0 32px;
}
