<div
  fxLayout="row wrap"
  fxLayoutAlign="space-around"
  >
    <ng-container *ngFor="let user of users;">
      <app-card-user-ref  fxFlex.gt-xs="10" [user]="user"></app-card-user-ref>
    </ng-container>
</div>
