<app-button-navigate [path]="'home'" [disabled]="loader">Home</app-button-navigate>
<app-button-navigate [path]="'tutos'" [disabled]="loader">Les tutoriels</app-button-navigate>
<app-button-navigate [path]="'display-products'" [disabled]="loader">Accès à une API REST</app-button-navigate>
<app-button-navigate [path]="'mes-sites'" [disabled]="loader">Mes sites web</app-button-navigate>

<div style="clear: both;"></div>

<div class="overlay">
  <div *ngIf="loader" class="progress-line"></div>
</div>

<div style="clear: both;"></div>
