<app-menu-sidenav></app-menu-sidenav>

<div class="container">



  <div class="row vignette">
      <div class="col-sm-12">
        <div class="col-sm-4 col-md-3 image">
          <img [src]="'assets/images/technos/symfony.jpg'" width="300" height="169">
        </div>
        <div class="col-sm-8 col-md-9">
          <div class="col-sm-12 col-sm-12" style="height: 4px;"></div>

          <span class="titre">
            <h1>Listener Symfony2</h1>
          </span>
          <br>
          <div class="texte-menu">Créer des évènements dans Symfony2</div>
        </div>
      </div>
  </div>


	<div class="col-sm-12 col-sm-12" style="height: 48px;"></div>

	<div class="col-sm-12 col-sm-12">
		Utiliser les listener avec le framework Symfony, cela consiste à s'inscrire en tant qu'observateur à des événements de type : Request, Response, Doctrine, Kernel...<br>
		<br>
		Mais aussi, on peut créer son propre évènement pour lui attacher des observateurs. En effet, parfois suite à un événement fonctionnel (inscription d'un utilisateur, validation d'une fiche...) nous voulons exécuter une série d'actions indépendantes les unes des autres comme l'envoi d'un mail à un responsable, effectuer un traitement particulier...<br>
		<br>
		<h4>Exécuter une série d'actions métiers indépendantes les unes des autres et de façon non séquentielle (le tout hors du controller)</h4>
	</div>

	<div class="col-sm-12 col-sm-12" style="height: 32px;"></div>

	<div class="col-sm-12 col-sm-12">
		<h2>Le Projet</h2>
	</div>

	<div class="col-sm-12 col-sm-12" style="height: 8px;"></div>

	<div class="col-sm-12 col-sm-12">
		Lors de la création d'un devis nous voulons informer le service commercial et effectuer un traitement pour mettre à jour les statistiques.
	</div>


	<div class="col-sm-12 col-sm-12" style="height: 8px;"></div>

	<div class="col-sm-12 col-sm-12">
		La création du projet Symfony2 :
		<br>
		<pre><code>
      symfony new listener_project 2.8
    </code></pre>
	</div>


	<div class="col-sm-12 col-sm-12" style="height: 32px;"></div>

	<div class="col-sm-12 col-sm-12">
		<h2>UTILISATION</h2>
	</div>

	<div class="col-sm-12 col-sm-12" style="height: 6px;"></div>

	<div class="col-sm-12 col-sm-12">
		D'abord, l'entité
		<b>Devis.php</b>
		:
		<br>

		<pre><code>
      namespace AppBundle\Entity;

      use Doctrine\ORM\Mapping as ORM;

      /**
        * Devis
        *
        * @ORM\Table(name="devis")
        */
      class Devis  <span ngNonBindable>&#123;</span>
          /**
            * @var int
            *
            * @ORM\Column(name="id", type="integer")
            * @ORM\Id
            * @ORM\GeneratedValue(strategy="AUTO")
            */
          private $id;

          /**
            * @var string
            *
            * @ORM\Column(name="nom", type="string", length=255, nullable=true)
            */
          private $nom;

          ...   getter et setter  ...
    </code></pre>


		<br>
		L'événement est la création du
		<b>devis</b>, on va l'appeler :
		<b>CreateDevisEvent.php</b>
		et celui-ci va contenir le
		<b>Devis</b>
		en question qui sera accessible par les écouteurs.
		<pre><code>
      namespace AppBundle\Event;

      use Symfony\Component\EventDispatcher\Event;
      use AppBundle\Entity\Devis;


      class CreateDevisEvent extends Event <span ngNonBindable>&#123;</span>
          protected $newDevis;

          public function __construct(Devis $newDevis)  <span ngNonBindable>&#123;</span>
              $this->newDevis = $newDevis;
          <span ngNonBindable>&#125;</span>

          public function getNewDevis()  <span ngNonBindable>&#123;</span>
              return $this->newDevis;
          <span ngNonBindable>&#125;</span>
      <span ngNonBindable>&#125;</span>
    </code></pre>

		<br>
		Chaque événement à un nom et la convention est de la déclarer dans une classe finale comme constante :
		<pre><code>
        namespace AppBundle\Event;

        final class DevisActionEvents  <span ngNonBindable>&#123;</span>
            /**
              * The event affectationServiceCommercial is launched every time a Devis is created
              * The event traitementStatistique is launched every time a Devis is created
              *
              * The event listener get the new Devis
              *
              * @var string
              */
            const CREATE = 'createDevis';
        <span ngNonBindable>&#125;</span>
    </code></pre>


		<br>
		La classe
		<b>CreateDevisEventListener.php</b>
		contenant les méthodes métier :
		<pre><code>
        namespace AppBundle\EventListener;

        use Symfony\Component\HttpKernel\Event\FilterControllerEvent;
        use Symfony\Component\HttpKernel\Event\FilterResponseEvent;
        use AppBundle\Event\CreateDevisEvent;


        class CreateDevisEventListener  <span ngNonBindable>&#123;</span>
            public function affectationServiceCommercial(CreateDevisEvent $event)  <span ngNonBindable>&#123;</span>
                dump("Affectation au service commercial : " . $event->getNewDevis()->getNom());
            <span ngNonBindable>&#125;</span>

            public function traitementStatistique(CreateDevisEvent $event)  <span ngNonBindable>&#123;</span>
                dump("Traitement pour les Statistiques : " . $event->getNewDevis()->getNom());
            <span ngNonBindable>&#125;</span>
        <span ngNonBindable>&#125;</span>
    </code></pre>


		<br>
		<br>
		Déclaration du service :<br>
		<b>services.yml</b>
		<pre><code>
      kernel.listener.actionsDevis:
          class: AppBundle\EventListener\CreateDevisEventListener
          tags:
              - <span ngNonBindable>&#123;</span> name: kernel.event_listener, event: createDevis, method: affectationServiceCommercial <span ngNonBindable>&#125;</span>
              - <span ngNonBindable>&#123;</span> name: kernel.event_listener, event: createDevis, method: traitementStatistique <span ngNonBindable>&#125;</span>
    </code></pre>
		Remarquez les tags  ->  event:
		<b>createDevis</b>
		qui correspond à la constante : const CREATE = '<b>createDevis</b>';
		<br>
		<br>
		Les 2 tags '<b>createDevis</b>' sont en écoute et font appel respectivement aux méthodes :
		<b>affectationServiceCommercial</b>
		et
		<b>traitementStatistique</b>
		<br>
		de la classe :
		<b>CreateDevisEventListener.php</b>
		<br>
		<br>
		<br>
		<br>
		Via le service Dispatcher de Symfony, plus qu'à lancer les événements au bon moment c.a.d à la création d'un devis :
		<br>
		<b>DefaultController.php</b>
		<pre><code>
      /**
        * @Route("/devis", name="devis")
        */
      public function createDevisAction(Request $request)
      <span ngNonBindable>&#123;</span>
          $newDevis = new Devis();
          $newDevis->setNom("devis du " . (new \DateTime())->format('Y-m-d H:i:s'));

          // creation de l'évènement et dispatch
          $event = new CreateDevisEvent($newDevis);
          $dispatcher =$this->get('event_dispatcher');

          // sollicitation des écouteurs taggués 'createDevis' avec $event
          $dispatcher->dispatch( DevisActionEvents::CREATE  , $event);

          exit;
      <span ngNonBindable>&#125;</span>
    </code></pre>
    <br>
    <i>Ainsi, le code métier est déporté en dehors du controller et chaque action est lancée indépendamment les unes des autres.</i>


    <div class="col-sm-12 col-sm-12" style="height: 32px;"></div>

    <div class="col-sm-12 col-sm-12">
        <h2>Listener/Subscribers</h2>
    </div>

    <div class="col-sm-12 col-sm-12" style="height: 6px;"></div>

    <div class="col-sm-12 col-sm-12">
        Listener et Subscribers font la même chose sauf qu'un Subscribers est une collection de Listener. <br>
        <br>
        Un Listener peut être réutilisé si besoin pour un autre évènement alors qu'avec le Subscribers on ne peut pas mettre en commun un des listener de la collection.
        Selon les projets on peut utiliser l'un ou l'autre....
    </div>

    <div class="col-sm-12 col-sm-12" style="height: 128px;"></div>
  </div>



  <div class="col-sm-12 col-sm-12" style="height: 128px;"></div>
</div>
