<div
  fxLayout="row wrap"
  fxLayoutAlign="space-between"
  class="content-list"
  >
    <ng-container *ngFor="let product of products;">
      <app-card-product-ref  fxFlex.gt-xs="24" [product]="product" class="elem-marge"></app-card-product-ref>
    </ng-container>
</div>
