<mat-card class="user-card">
  <mat-card-header>

  </mat-card-header>

  <mat-card-content>
    <img [defaultImage]="'assets/images/user/default.jpg'" [lazyLoad]="user?.picture" alt="{{user?.firstName}}" class="img-card"/>

    <p>
      <b>{{user?.title}} {{user?.lastName}} {{user?.firstName}}</b>
    </p>

    <p>
      {{user?.email}}
    </p>

  </mat-card-content>

  <mat-card-actions>

  </mat-card-actions>
</mat-card>
