<mat-card class="tuto-card">
  <mat-card-header>
    <img mat-card-avatar [defaultImage]="'assets/images/profil/dukoid.jpg'" [lazyLoad]="'assets/images/profil/dukoid.jpg'" alt="{{card.alt}}" />
    <mat-card-title>InerCode</mat-card-title>
    <mat-card-subtitle>Dév. web</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="container-image">
      <img  [src]="'assets/images/' + card.img" alt="{{card.alt}}" />
    </div>

    <p>
      <b>{{card.title}}</b>
    </p>

    <p>
      {{card.description1}}
    </p>

    <p>
      {{card.description2}}
    </p>

  </mat-card-content>

  <mat-card-actions>

  </mat-card-actions>
</mat-card>
