<app-menu-sidenav></app-menu-sidenav>

<div class="container">



  <div class="col-sm-12 col-sm-12" style="height: 24px;"></div>

  <div class="row vignette">
    <div class="container">

      <div class="col-sm-12">
        <div class="col-sm-4 col-md-3 image">
          <img [src]="'assets/images/technos/poo_php.jpg'" width="300" height="169">
        </div>
        <div class="col-sm-8 col-md-9">
          <div class="col-sm-12 col-sm-12" style="height: 4px;"></div>

          <span class="titre">
            <h1>S.O.L.I.D</h1>
          </span><br><span class="bonus">+ <b>Injection de dépendances</b></span>
          <br>
          <div class="texte-menu">Une ligne directrice avec 5 principes de base pour la programmation orientée objet</div>
        </div>
      </div>

    </div>
  </div>


  <div class="col-sm-12 col-sm-12" style="height: 24px;"></div>


  <div class="col-sm-12 col-sm-12">
      <b>S.O.L.I.D</b> est un ensemble de principes de base pour rendre votre code plus fiable, plus maintenable et plus testable.<br>
  </div>

  <div class="col-sm-12 col-sm-12" style="height: 32px;"></div>

  <div class="col-sm-12 col-sm-12">
      <b>La théorie</b> :
  </div>

  <div class="col-sm-12 col-sm-12" style="height: 8px;"></div>


  <div class="col-sm-12 col-sm-12 solid">
      <b>S.O.L.I.D</b> &nbsp; &nbsp; Les 5 principes de base :   <br>
      <br>

      <ul>
          <li>
              <b>S</b>ingle Responsability Principle : une classe doit avoir une et une seule responsabilité  <br>
              Exit les classes fourre-tout.
          </li>
          <li>
              ouvert/fermé (<b>O</b>pen/closed principle) : une classe doit être ouverte à l'extension, mais fermée à la modification  <br>
              Enrichir une classe sans la modifier.
          </li>
          <li>
              Substitution de Liskov (<b>L</b>iskov substitution Principle) : Pouvoir remplacer une instance par une sous instance sans modifier la cohérence du programme.<br>
              Par exemple que le type retourné par une sous instance soit du même type que celui retourné par la classe parente.
          </li>
          <li>
              Ségrégation des interfaces (<b>I</b>nterface segregation principle)  : une interface -> un rôle.<br>
              Comme pour une classe. Par contre une interface peut hériter de plusieurs interfaces.
          </li>
          <li>
              Inversion des dépendances (<b>D</b>ependency Inversion Principle)  : il faut dépendre des abstractions, pas des implémentations.<br>
              mauvaises pratiques : Une classe dépend de une ou plusieurs implémentations concrètes -> new .....
          </li>
      </ul>
  </div>


  <div class="col-sm-12 col-sm-12" style="height: 32px;"></div>

  <div class="col-sm-12 col-sm-12">
      <b>La pratique</b> :
  </div>


  <div class="col-sm-12 col-sm-12" style="height: 0px;"></div>

  <div class="col-sm-12 col-sm-12 solid">
      <div class="col-sm-12 col-sm-12" style="height: 8px;"></div>
      Exemple de projet : <br>
      Nous voulons formatter en texte le contenu d'un fichier xml ou d'un fichier json. <br>
      Pour cela, la classe principale va devoir recevoir n'importe quel type de fichier (.xml, .json...) et en sortir un texte.        <br>
      <br>
      Pour le tout, nous utiliserons le &nbsp; <b>pattern Strategy</b>&nbsp;. Pour rappel, celui-ci  permet de permuter dynamiquement les algorithmes utilisés. Ainsi, l'algorithme de conversion est adapté en fonction du type de fichier .
  </div>


  <div class="col-sm-12 col-sm-12" style="height: 32px;"></div>

  <div class="col-sm-10 col-sm-10 col-sm-offset-1 col-sm-offset-1 solid">
    <b>I</b>nterface segregation principle : FileLoaderInterface aura pour seul comportement celui de charger un fichier.
  </div>
  <div class="col-sm-8 col-sm-8 col-sm-offset-2 col-sm-offset-2">
    <pre><code class="fenced-code-block language-php">
      interface FileLoaderInterface
      <span ngNonBindable>&#123;</span>
          public function load($file);
      <span ngNonBindable>&#125;</span>
    </code></pre>
  </div>

  <div class="col-sm-12 col-sm-12" style="height: 32px;"></div>

  <div class="col-sm-10 col-sm-10 col-sm-offset-1 col-sm-offset-1 solid">
      <b>L</b>iskov substitution Principle : Vérifier qu'en entrée on a bien un fichier et en sortie un tableau et ce, quelque soit le fichier (json, xml...). <br>
  </div>
  <div class="col-sm-8 col-sm-8 col-sm-offset-2 col-sm-offset-2">
    <pre><code class="fenced-code-block language-php">
      abstract class AbstractLoader implements FileLoaderInterface
      <span ngNonBindable>&#123;</span>
              /*
              *   en entrée :   file
              *   en sortie :   array
              */
          public function load($file)
          <span ngNonBindable>&#123;</span>
              if (!file_exists($file)) <span ngNonBindable>&#123;</span>
              throw new \InvalidArgumentException(sprintf('%s does not exist.', $file));
              <span ngNonBindable>&#125;</span>
              return [];
          <span ngNonBindable>&#125;</span>
      <span ngNonBindable>&#125;</span>
    </code></pre>
  </div>


  <div class="col-sm-12 col-sm-12" style="height: 32px;"></div>

  <div class="col-sm-10 col-sm-10 col-sm-offset-1 col-sm-offset-1 solid">
    Les 2 types de fichiers, json et xml. A l'avenir, il suffit de créer une nouvelle classe pour un nouveau type de fichier.
  </div>
  <div class="col-sm-8 col-sm-8 col-sm-offset-2 col-sm-offset-2">
    <pre><code class="fenced-code-block language-ts">
      class JsonFileLoader extends AbstractLoader
      <span ngNonBindable>&#123;</span>
          public function load($file)
          <span ngNonBindable>&#123;</span>
              $records = parent::load($file);         // verification de l'entrée et sortie

              $json_source = file_get_contents($file);
              $data = json_decode($json_source, true);
              foreach (  $data['contacts'] as $record) <span ngNonBindable>&#123;</span>
                  $records[] = $record['nom'];
              <span ngNonBindable>&#125;</span>

              return $records;                        // array
          <span ngNonBindable>&#125;</span>
      <span ngNonBindable>&#125;</span>
    </code></pre>

    <pre><code class="fenced-code-block language-php">
      class XmlFileLoader extends AbstractLoader
      <span ngNonBindable>&#123;</span>
          public function load($file)
          <span ngNonBindable>&#123;</span>
              $records = parent::load($file);         // verification de l'entrée et sortie

              $data = simplexml_load_file($file);
              foreach ($data as $record) <span ngNonBindable>&#123;</span>
                  $records[] = (string) $record;
              <span ngNonBindable>&#125;</span>

              return $records;                        // array
          <span ngNonBindable>&#125;</span>
      <span ngNonBindable>&#125;</span>
    </code></pre>
  </div>

  <div class="col-sm-12 col-sm-12" style="height: 32px;"></div>

  <div class="col-sm-10 col-sm-10 col-sm-offset-1 col-sm-offset-1 solid">
      <b>S</b>ingle Responsability Principle : Une classe DataFormatter ayant une reponsabilité celui de formatter. <br>

      <b>O</b>pen/closed principle : La classe DataFormatter doit pouvoir accepter un format xml, json mais aussi d'autres formats à l'avenir.<br>
      Pour cela la classe DataFormatter acceptera toute injection de format ayant l'interface FileLoader <br>

      <b>D</b>ependency Inversion Principle : La classe DataFormatter n'est pas lié à un quelconque autre objet et donc aucune implementation. <br>
  </div>
  <div class="col-sm-8 col-sm-8 col-sm-offset-2 col-sm-offset-2">
    <pre><code class="fenced-code-block language-php">
        class DataFormater
        <span ngNonBindable>&#123;</span>
            private $loader;

            public function __construct(FileLoaderInterface $loader)
            <span ngNonBindable>&#123;</span>
                $this->loader  = $loader;
            <span ngNonBindable>&#125;</span>

            public function formatTexte($file)
            <span ngNonBindable>&#123;</span>
                $texte = 'Les contacts : ';
                foreach ($this->loader->load($file) as $record) <span ngNonBindable>&#123;</span>       // String
                    $texte .= $record .' ';
                <span ngNonBindable>&#125;</span>
                return $texte;
            <span ngNonBindable>&#125;</span>
        <span ngNonBindable>&#125;</span>
    </code></pre>
  </div>



  <div class="col-sm-12 col-sm-12" style="height: 64px;"></div>


  <div class="col-sm-10 col-sm-10 col-sm-offset-1 col-sm-offset-1">
    <b>Utilisation avec ces 2 fichiers</b> :   <br>
    data.json
    <pre><code class="json">
        <span ngNonBindable>&#123;</span>"contacts": [
            <span ngNonBindable>&#123;</span>"nom":"Paul"<span ngNonBindable>&#125;</span>,
            <span ngNonBindable>&#123;</span>"nom":"Virginie"<span ngNonBindable>&#125;</span>,
            <span ngNonBindable>&#123;</span>"nom":"Claire"<span ngNonBindable>&#125;</span>
        ]<span ngNonBindable>&#125;</span>
    </code></pre>

    data.xml
    <pre><code class="xml">
      &lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
      &lt;contacts&gt;
          &lt;nom&gt;Damien&lt;/nom&gt;
          &lt;nom&gt;Philippe&lt;/nom&gt;
          &lt;nom&gt;Claire&lt;/nom&gt;
      &lt;/contacts&gt;
    </code></pre>
  </div>

  <div class="col-sm-10 col-sm-10 col-sm-offset-1 col-sm-offset-1">
    php
    <pre><code class="fenced-code-block language-php">
      $dataFormater = new DataFormater(new JsonFileLoader());
      $texte = $dataFormater->formatTexte('data.json');
      echo $texte;

      Affiche -> Paul Virginie Claire


      $dataFormater = new DataFormater(new XmlFileLoader());
      $texte = $dataFormater->formatTexte('data.xml');
      echo $texte;

      Affiche -> Damien Philippe Claire
    </code></pre>
  </div>




  <div class="col-sm-12 col-sm-12" style="height: 128px; border-bottom: 1px solid #999;"></div>
  <div id="injection-dependances" class="col-sm-12 col-sm-12" style="height: 128px;"></div>
  <div class="col-sm-12 col-sm-12" style="height: 16px;"></div>

  <div class="col-sm-12" style="text-align: left;">
    <h2><b>Injection de dépendances</b></h2>
  </div>

  <div class="col-sm-12 col-sm-12" style="height: 64px;"></div>


  <div class="col-sm-12 col-sm-12">
    J'ai décidé d'en parler ici car l'injection de dépendance respecte notamment le <span style="color: red;"><b>D</b></span> de <b>S.O.L.I.D</b> que nous avons vu plus haut.<br>
    <b>Le but de ce mécanisme est de découpler les objets pour simplifier la communication entre les objets</b>.<br>
    En effet, deux objets fortement liés rend le code peu évolutif et modifier ce genre de code augmente le risque de régression et de bugs.
    <br>
  </div>

  <div class="col-sm-12 col-sm-12" style="height: 32px;"></div>

  <div  class="col-sm-12 col-sm-12">
    <b>Le projet</b> :
    <br>
    Une place de parking que l'on associe à une voiture.<br>
    On a donc une classe <b>PlaceParking</b> qui possède pour propriété une classe <b>Voiture</b>.<br>
    <br><br>
    Pour comprendre la problématique, voici la façon classique de faire :
    <pre><code class="fenced-code-block language-php">
      class Voiture <span ngNonBindable>&#123;</span>
          private $immatriculation;

          public function __construct($immatriculation)<span ngNonBindable>&#123;</span>
              this->immatriculation = $immatriculation;
          <span ngNonBindable>&#125;</span>
      <span ngNonBindable>&#125;</span>

      class PlaceParking<span ngNonBindable>&#123;</span>
          private $voiture;

          public function __construct($immatriculation)<span ngNonBindable>&#123;</span>
              $this->voiture = new Voiture($immatriculation);
          <span ngNonBindable>&#125;</span>
      <span ngNonBindable>&#125;</span>

      $emplacement = new PlaceParking("4242 fc 33");
    </code></pre>
    Dans cet exemple, la classe <b>voiture</b> a été instanciée dans le constructeur de <b>PlaceParking</b>.<br>
    <b>voiture</b> et <b>PlaceParking</b> sont donc fortement liés.<br>

    <br>
    <b>Les problèmes</b> :<br>
    <ol>
        <li>Si plus tard, nous voulons ajouter une propriété "marque" à la classe <b>Voiture</b> ?<br>
            <i>Il faudra ajouter cette propriété dans <b>Voiture</b> et modifier en conséquence le constructeur de <b>PlaceParking</b></i>
        </li>
        <li>Si plus tard, en plus de la voiture nous voulons associer une moto ? <br>
            <i>Il faudra créer une classe <b>Moto</b>. Dans la classe <b>PlaceParking</b> ajouter une propriété moto et dans le constructeur, détecter si c'est <b>Voiture</b> ou <b>Moto</b> qui est envoyé (avec instanceOf)</i>
        </li>
    </ol>

    <b>Dans tous les cas</b>, il faut modifier la classe <b>Voiture</b> et <u>plus embêtant</u> encore, la classe <b>PlaceParking</b>.

    <br><br><br><br>
    <h4>Solution :</h4>

    <h3>1</h3> <br>
    Pour ajouter une propriété, nous allons faire cette implémentation :
    <pre><code class="fenced-code-block language-php">
      class Voiture <span ngNonBindable>&#123;</span>
          private $immatriculation;
          private $marque;

          public function __construct($immatriculation, $marque)<span ngNonBindable>&#123;</span>
              this->immatriculation = $immatriculation;
              this->marque = $marque;
          <span ngNonBindable>&#125;</span>

          // getter et setter
      <span ngNonBindable>&#125;</span>

      class PlaceParking<span ngNonBindable>&#123;</span>
          private $voiture;

          public function __construct(Voiture $voiture)<span ngNonBindable>&#123;</span>
              $this->voiture = $voiture;
          <span ngNonBindable>&#125;</span>
      <span ngNonBindable>&#125;</span>

      $voiture = new Voiture("4242 fc 33", "Peugeot");
      $emplacement = new PlaceParking($voiture);
    </code></pre>
    La propriété marque a été ajouté à la classe <b>Voiture</b> sans toucher à <b>PlaceParking</b><br>
    <br>
    Et, par la même occasion nous venons de faire de l'<b>injection de dépendances</b> ! <br>
    En effet, nous avons injecté dynamiquement l'objet <b>voiture</b> à l'objet <b>emplacement</b> (PlaceParking).<br>
    <br>
    <br>

    <h3>2</h3> <br>
    <h4>Mais</h4>, certes <b>PlaceParking</b> et <b>Voiture</b> sont moins couplés qu'auparavant mais ils le sont encore un peu.<br>
    <b>PlaceParking</b> dépend trop du type <b>Voiture</b> et cela nous amène à la question 2 : et si nous voulons inclure une moto ?<br>
    <br>
    voici la solution :
    <pre><code class="fenced-code-block language-php">
      interface VehiculeInterface
      <span ngNonBindable>&#123;</span>
          public function getInformations();
      <span ngNonBindable>&#125;</span>


      class Voiture implements VehiculeInterface <span ngNonBindable>&#123;</span>
          protected $immatriculation;
          protected $marque;
          protected $permis = "B";
          protected $motorisation;

          public function __construct($immatriculation, $marque, $motorisation)<span ngNonBindable>&#123;</span>
              $this->immatriculation = $immatriculation;
              $this->marque = $marque;
              $this->motorisation = $motorisation;
          <span ngNonBindable>&#125;</span>
          public function getInformations()<span ngNonBindable>&#123;</span>
              return "voiture : " .  $this->immatriculation . " " . $this->marque . " " . $this->permis  . " " . $this->motorisation;
          <span ngNonBindable>&#125;</span>
          // getter et setter
      <span ngNonBindable>&#125;</span>

      class Moto implements VehiculeInterface <span ngNonBindable>&#123;</span>
          protected $immatriculation;
          protected $marque;
          protected $permis = "C";
          protected $motorisation;

          public function __construct($immatriculation, $marque)<span ngNonBindable>&#123;</span>
              $this->immatriculation = $immatriculation;
              $this->marque = $marque;
          <span ngNonBindable>&#125;</span>
          public function getInformations()<span ngNonBindable>&#123;</span>
              return "moto : " .  $this->immatriculation . " " . $this->marque . " " . $this->permis;
          <span ngNonBindable>&#125;</span>
          // getter et setter
      <span ngNonBindable>&#125;</span>

      class PlaceParking<span ngNonBindable>&#123;</span>
          protected $vehicule;

          public function __construct(VehiculeInterface $vehicule)<span ngNonBindable>&#123;</span>
              $this->vehicule = $vehicule;
          <span ngNonBindable>&#125;</span>

          public function getInformations() <span ngNonBindable>&#123;</span>
              return $this->vehicule->getInformations();
          <span ngNonBindable>&#125;</span>
      <span ngNonBindable>&#125;</span>
    </code></pre>

    <pre><code class="fenced-code-block language-php">
      $voiture = new Voiture("4242 pe 33", "Peugeot", "diesel");
      $emplacement = new PlaceParking($voiture);

      $moto = new Moto("4242 ya 33", "yamaha");
      $emplacement2 = new PlaceParking($moto);

      print_r($emplacement->getInformations());
      print_r($emplacement2->getInformations());
    </code></pre>

    <br>
    Le découplage est cette fois si optimisé, <b>nous pouvons injecter n'importe quel type de vehicule</b>.<br>
    Pour ajouter un nouveau type, il suffit de créer une nouvelle classe et c'est tout (aucune modification n'est nécessaire dans le code).<br>
    <br>
    De plus, vous pouvez ajouter une nouvelle propriété dans <b>Voiture</b> ou <b>Moto</b>. Vous le faites sans même modifier <b>PlaceParking</b>.

    <br><br><br><br>
    remarque : <i> <b>Voiture</b> et <b>Moto</b> ont des propriétés et méthodes en commun, je pouvais factoriser du code avec une classe abstract mais pour rester simple dans l'exemple je ne l'ai pas fait.</i>
  </div>


  <div class="col-sm-12 col-sm-12" style="height: 128px;"></div>
</div>
